<!DOCTYPE html>
<html lang="fr" ng-app="store">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>Pizza Mia - Accueil</title>
  <!-- Shortcut Icon -->
  <!-- <link href="bootstrap.css" rel="stylesheet" />
  <link href="bootstrap-theme.css" rel="stylesheet" /> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Lato:400,300,600,800,900" rel="stylesheet" type="text/css" />
  <!--Import materialize.css-->

  <!-- Import personnal stylesheet -->
  <link type="text/css" rel="stylesheet" href="./assets/css/style.css" />

</head>
<body>
  <!-- bandeau enseigne -->
  <!-- panier -->

  <!-- end of panier -->
  <!-- Victoria's part -->
  <header>

  </header>

  <!-- carousel -->

  <section>

  </section>
  <!-- end of Victoria's part -->


  <!-- End Victoria's part -->


  <!-- atouts fraicheurs -->

  <!-- end of atouts fraicheurs -->

  <!-- Card's part offres-->
  <div class="container-fluid">
    <div ng-controller="storeController">
      <h1>Nos offres</h1>
      <!-- CATEGORIES -->
      <div class="row justify-content-md-center">
        <div class="btn-group" role="group" aria-label="catégories" id="categoryDisplay">
          <div ng-repeat="product in products | unique : 'category'">
            <button type="button" class="btn btn-primary" ng-click="categoryFilter(product.category)">{{product.category}}</button>
          </div>
            <button type="button" class="btn btn-primary" ng-click="categoryFilter('')">Tout</button>
        </div>
      </div>
      <!-- OFFRES -->
      <div class="row">
        <div class="col-md-4" id="productsDisplay" ng-repeat="product in products | filter: categoryFiltered">
          <div class="card text-center">
            <div class="card-header">
              <p class="card-title"><strong>{{product.name}}</strong></p>
            </div>
            <div class="card-body">
              <img class="card-img-top" src="{{product.image}}" alt="Card image cap">
              <p class="card-text">{{product.description}}</p>
              <p><strong>{{product.price | currency:"€"}}</strong></p>
            </div>
            <div class="card-footer">
              <input class="btn btn-success" type="button" ng-click="addItemToCart(product)" value="Commander" />
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="cartLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title" id="cartContent">Votre commande</h1>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <!-- MODAL BODY -->
            <div class="modal-body">
              <main class="page">
                <section class="shopping-cart dark">
                  <div class="container">
                    <div class="content">
                      <div class="row">
                        <div class="col-md-12 col-lg-8 scrollYClass">
                          <div class="items">
                            <h3 ng-hide="cart.length !== 0">Votre panier est vide.</h3>
                            <ul class="list-group">
                              <li class="list-group-item" ng-repeat="c in cart">
                                <p class="d-flex justify-content-between">{{c.name}}
                                  <span>
                                    <i class="fas fa-minus-circle minusItem" ng-click="removeItemCart(c)"></i>
                                    <span id="priceByItem"> {{c.count}} </span>
                                    <i class="fas fa-plus-circle plusItem" ng-click="addItemToCart(c)"></i>
                                  </span>
                                  {{c.price*c.count | currency:"€"}}
                                  <button class="tooltip-test float-right" id="deleteProduct" title="Supprimer" ng-click="deleteProductInCart(c)">X</button></p>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-md-12 col-lg-4">
                            <div class="summary">
                              <h3>Résumé</h3>
                              <div class="summary-item"><span class="text">Total : {{total | currency:"€"}}</span></div>
                              <div class="shipping">Pas de frais de port.</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </main>
              </div>
              <!-- !MODAL BODY -->
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary">Valider</button>
              </div>
            </div>
          </div>
        </div>
      </body>
      <!-- PANIER -->
      <div class="container-fluid countDisplay">
        <div class="row">
          <a class="nav-link" id="cartButton" data-toggle="modal" data-target="#cart"><span class="circle" >{{totalCount}}</span><i class="fas fa-shopping-cart"></i></a>
        </div>
      </div>
      <!-- Card's part -->

      <!-- footer part's -->
      <footer>

      </footer>
      <!-- End of footer's part -->

      <!-- jQuery first, then Materialize.js, SweetAlert.js and Perso-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-cookies.js"></script>
      <!-- <script src="jquery-3.3.1.min.js"></script>
      <script src="popper.min.js"></script>
      <script src="angular.min.js"></script>
      <script src="angular-cookies.min.js"></script>
      <link href="bootstrap.min.js"> -->
      <script src="assets/js/script.js"></script>
    </body>
    </html>
